no.nav.security.jwt:

  issuer:
    someshortname:
      discovery-url: http://metadata
      accepted_audience: aud-localhost
      cookie_name: localhost-idtoken

  client:
    registration:
      demoserver1:
        token-endpoint-url: http://localhost:8181/oauth2/v2.0/token
        grant-type: client_credentials
        scope: scope3, scope4
        authentication:
          client-id: testclient
          client-jwk: token-client-spring-demo/src/main/resources/jwk.json
          client-auth-method: private_key_jwt

      demoserver2:
        token-endpoint-url: http://localhost:8181/oauth2/v2.0/token
        grant-type: urn:ietf:params:oauth:grant-type:jwt-bearer
        scope: scope1, scope2
        authentication:
          client-id: testclient
          client-secret: testsecret
          client-auth-method: client_secret_basic

      demoserver3:
        token-endpoint-url: http://localhost:8181/oauth2/v2.0/token
        grant-type: urn:ietf:params:oauth:grant-type:token-exchange
        authentication:
          client-id: cluster:namespace:app1
          client-jwk: token-client-spring-demo/src/main/resources/jwk.json
          client-auth-method: private_key_jwt
        token-exchange:
          audience: cluster:namespace:app2


democlient1.url: http://demoserver1:8181
democlient2.url: http://demoserver2:8181
democlient3.url: http://demoserver2:8181

mockwebserver:
  port: 8181