name: Build master

on:
  push:
    branches:
      - master
permissions:
  actions: read
  contents: write
  security-events: write
  packages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest-4-cores
    steps:
      - name: Checkout latest code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin
      - name: Setup build cache
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      -   name: Submit Dependency Snapshot
          uses: advanced-security/maven-dependency-submission-action@v3
          with:
            settings-file: .github/settings.xml

      - name: Build with Maven
        env:
          GITHUB_USERNAME: x-access-token
          GITHUB_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./mvnw -B deploy --settings .github/settings.xml -Pgithub

  release-notes:
    runs-on: ubuntu-latest
    steps:
      - name: Release Drafter
        uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}